[submodule ".github/actions"]
	path = .github/actions
	url = https://github.com/saudeon/github-actions.git
[submodule ".github/workflows"]
	path = .github/workflows
	url = https://github.com/saudeon/github-workflows.git
